package ${repositoryPack};


import ${modelPack}.${model};
import ${modelPack}.${model}Example;
import ${repositoryPack}.base.BaseRepository;
import ${mapperPack}.base.BaseMapper;
import ${mapperPack}.${model}MapperExt;
import org.slf4j.Logger;
import org.slf4j.LoggerFactory;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Repository;
import java.util.List;
/**
* ${model}Repository
* @author: ${author} on ${ctime}.
*/
@Repository
public class ${model}Respository extends BaseRepository<${model}, ${model}Example> {


    private static final Logger LOGGER = LoggerFactory.getLogger(${model}Repository.class);

    @Autowired
    ${model}MapperExt mapper;


    @Override
    public BaseMapper getMapper() {
        return mapper;
    }

    public List<${model}> selectByExamplePage( ${model}Example example,Integer pageNo,Integer pageSize){
        if(pageNo==null)pageNo=0;
        if(pageSize==null)pageSize=20;
        example.setOffset(pageNo*pageSize);
        example.setLimit(pageSize);
        return selectByExample(example);
    }

}




